/* -------Загальні --------*/
:root {
    /* Кольори */
--background-primary: #f5f5f5;
--background-second: #F5F4FA;
--background-elements: #2F303A;
--color-primary: #757575;
--color-grey: #212121;
--color-black: #000000;
--color-blue: #2196f3;
--color-white: #ffffff;
}
 
*,
*::before,
*::after {
    box-sizing: border-box;
}

p, h1, h2, h3: {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

.page {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: var(--background-primary);
    color: var(--color-primary);
    letter-spacing: 0.03em;
}

.link {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.list {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.current {
    color: var(--color-blue);
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    
    outline: 2px solid tomato;

}

/* -----Хедер --- */

header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo {
    font-family: 'Raleway', sans-serif;
    line-height: 1;
    color: var(--color-black);
}

.logo .logo-decorate {
    color: var(--color-blue);
}

/* .nav {
    
} */

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-grey);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--color-blue);
}

.contacts .contacts-link {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-primary)
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--color-blue);
}

/* -------Секція хіро------*/

.hero {
    background-color: var(--background-elements);
}
.hero-title {
    color: var(--color-white);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    min-width: 696px;
}
.hero-button {
    background-color: var(--color-blue);
    color: var(--color-white);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
}

/* -----Секція advantages-------*/

/* .advantages {

} */

.advantages .advantages-title {
     font-weight: 700;
     font-size: 14px;
     line-height: 1.14;
     color: var(--color-grey);
     text-transform: uppercase;
}

.advantages .advantages-note {
     line-height: 1.71;
}

/* -------Секція Duties------- */

/* .duties {
} */

/* .duties-list {

}
.duties-examples {
} */

/* -----Секція Team --------*/

/* .team {
}
.team-title {

} */

/* .team-list {
}

.team-icon {
} */
/* .team-photo {
} */
.team .team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}
.team .team-role {
    font-size: 16px;
    text-align: center;
}

.footer {
    background-color: var(--background-elements);
}

.footer-logo {
    color: var(--color-white);
}

.address {
    font: inherit;
}

.address .post-address {
    font-size: 14px;
    color: var(--color-white);
    line-height: 1.46;
}

.address-details {
    color: rgba(255, 255, 255, 0.6);
}

/* .buttons-list {
} */
.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--color-grey);
    background-color: var(--background-second);
}

.button:hover,
.button:focus {
    color: var(--color-blue);
}

/* ----Секція Portfolio ------ */

/* .projects {
}
.projects-list {
}
.projects-item {
} */
.projects-title {
    color: var(--color-grey);
    font-weight: 700;
    font-size:18px;
    line-height: 1.71;
    letter-spacing: 00.06em;
}

.projects-about {
    font-size: 16px;
    line-height: 1.6;
}